@{
    ViewBag.Title = "等待审核中";
}

<div class="container" style="width: 100%">
    <div class="row clearfix">
        <div class="col-md-12 column" style="text-align: center">
            <img src ="@Url.Content("~/Images/checking.png")"  />
        </div>
    </div>
</div>
