@model OnlineBorrow1.Models.User

@{
    ViewBag.Title = "用户添加";
}

<div class="container" style="background-color: white">
    <div class="row clearfix">

        <div class="col-md-12 column">

            @using (Html.BeginForm("Create", "UserAccount", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="margin-top: 20px;">
        <fieldset id="myfieldset1">
            <legend>用户账号密码导入</legend>
            <p>
                选择文件：<input id="FileUpload" type="file" name="files" style="width: 250px; height: 24px;
                    background: White" class="easyui-validatebox" /></p>
            <p>
                <input id="btnImport" type="submit" value="导入" style="width: 60px; height: 28px;" /></p>
            <p style="color: Red; text-align: center;">@ViewBag.error</p>
        </fieldset>
    </div>
}



           

            <div>
                @Html.ActionLink("返回", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
    </div>
</div>


